:root {
    --gold-light: #D4AF37;
    --gold: #FFD700;
    --black: #000000;
    --dark-gray: #2C2C2C;
    --silver: #C0C0C0;
}

body {
    font-family: "Inter", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--gold);
}

header,
main,
footer {
    padding: 20px;
}

header {
    background-color: var(--dark-gray);
    border-bottom: 1px solid var(--silver);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#titulo {
    font-size: 38px;
    font-weight: 800;
    color: var(--gold);
}

#btnCurriculo {
    color: var(--gold);
    border: 1px solid var(--gold-light);
    font-size: 18px;
    border-radius: 15px;
    padding: 18px 36px;
    display: inline-block;

    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--gold-light);
    transition: ease-out 0.4s;
}

#btnCurriculo:hover {
    box-shadow: inset 400px 0 0 0 var(--gold-light);
}

#btnCurriculo a {
    text-decoration: none;
    font-weight: 800;
    color: var(--black);
}

#menu {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

#sobremim,
#img_Gabriel {
    margin-bottom: 20px;
}

main {
    background-color: var(--black);
}

ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, var(--gold-light) 0%, var(--gold-light) 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.4s ease-out;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

li a:hover {
    background-position: left;
}




footer {
    background-color: var(--dark-gray);
    color: var(--gold);
    border-top: 1px solid var(--silver);
}